h1{
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(26, 26, 114);
}

h1#a{
     font-size: 2cm;
}

h1#b{
     font-size: 1cm;
     top: 2cm;
}

h1#c{
     font-size: 0.5cm;
     top: 2.9cm;
}

#e{
    position: absolute; top: 70px; 
    height: 2.8cm; width: 2.8cm;
    left: 40%; right: 50%;
    transform: translate(-60%, -40%);
}

#f{
    position: absolute; top: 70px; 
    height: 2.8cm; width: 2.8cm;
    left: 61.5%; right: 50%;
    transform: translate(-60%, -40%);
}

#pa{
    font-size: x-large;
    text-align: center;
    position: absolute;
    top: 4cm;
    left: 50%;
    transform: translate(-50%, -50%);

} 

#pb{
    text-align: center;
    position: absolute;
    top: 5.5cm;
    left: 50%;
    transform: translate(-50%, -50%);

}

#imga{
    height: 4cm;
    width: 4cm;
    position: absolute;
    left: 50%;
    top: 9cm;
    transform: translate(-50%, -50%);
    
}

#ha{
    position: absolute;
    left: 50%;
    top: 11cm;
    transform: translate(-50%, -50%);
}

#pc{
    text-align: center;
    position: absolute;
    top: 12.5cm;
    left: 50%;
    transform: translate(-50%, -50%);

}

#imgb{
    height: 2cm;
    width: 3cm;
    position: absolute;
    left: 40%;
    top: 15cm;
    transform: translate(-50%, -50%);
    
}

#imgc{
    height: 2cmcm;
    width: 3cm;
    position: absolute;
    left: 60%;
    top: 15cm;
    transform: translate(-50%, -50%);
    
}

#imgd{
    height: 2cmcm;
    width: 3cm;
    position: absolute;
    left: 50%;
    top: 15cm;
    transform: translate(-50%, -50%);
    
}

#pd{
    text-align: center;
    position: absolute;
    top: 16cm;
    left: 40%;
    transform: translate(-50%, -50%);

}

#pe{
    text-align: center;
    position: absolute;
    top: 16cm;
    left: 60%;
    transform: translate(-50%, -50%);

}

#pf{
    text-align: center;
    position: absolute;
    top: 16cm;
    left: 50%;
    transform: translate(-50%, -50%);

}